/*    ZPIRIT GRID SYSTEM
 ----------------------------------------*/
@mixin grid-setup($width) {
}
$grid-items: (10, 12.5, 15, 16.666, 20, 25, 30, 33.333, 35, 40, 45, 50, 55, 60, 65, 66.666, 70, 75, 80, 85, 90, 100);

@each $item in $grid-items {
	.grid#{floor($item)} {
		float: left;
		width: #{$item}#{'%'};
		margin-left: 0;
		margin-right: 0;
		padding-left: 15px;
		padding-right: 15px;
		@if $item == 100 {
			float: none;
			clear: both;
		}
	}
}

.nopadd {
	padding-left: 0;
	padding-right: 0;
}
.nopadd-right {
	padding-right: 0;
}
.nopadd-left {
	padding-left: 0;
}
.gridcenter {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.gridright {
	float: right;
}

// Breakpoints
$breakpoints: (
	small:  (small:  320px, large:  720px),
	medium: (small:  720px, large:  991px),
	large:  (small:  991px, large: 1280px),
	xlarge: (small: 1280px, large: 9999px)
);
@function page-break($break) {
	$point: map-get($breakpoints, $break);
	@return map-get($point, large);
}
// COMMON RESPONSIVE CLASSES
@each $media, $mix in $breakpoints {
	@media all and (min-width: map-get($mix, small) ) and (max-width: map-get($mix, large)) {
		.hide-#{$media} {
			display: none;
		}
		.show-#{$media} {
			display: block;
		}
	}
}
// No floats on small screens
@media only screen and (max-width: page-break(small) ) {
	[class*=grid]:not(.unresponsive) {
		float: none;
		width: 100%;
		margin: 0 auto 15px auto;
	}
	.nopadd:not(.unresponsive) {
		padding-left: 0;
		padding-right: 0;
	}
	.nopadd-right:not(.unresponsive) {
		padding-right: 1em;
	}
	.nopadd-left:not(.unresponsive) {
		padding-left: 1em;
	}
}

// Easing Cubic bezier
$easing: (
	easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715),
	easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1),
	easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95),
	easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53),
	easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94),
	easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955),
	easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19),
	easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1),
	easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1),
	easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22),
	easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1),
	easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1),
	easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06),
	easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1),
	easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1),
	easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035),
	easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1),
	easeInOutExpo: cubic-bezier(1, 0, 0, 1),
	easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335),
	easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1),
	easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86),
	easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045),
	easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275),
	easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55)
);
@function easing-type($type) {
	@return map-get($easing, $type)
}