/*!
Theme Name: Landmark Maskin
Theme URI: http://zpirit.no
Author: Bento / Espen M. Kvalheim, Zpirit
Author URI: http://themehaus.net/
Description: Tema for Landmark Maskin AS.
Version: 2.0.4
Template: bento
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bento-child
Tags: one-column, two-columns, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, theme-options, threaded-comments, translation-ready
*/


// SASS VARIABLES
// ---
// Colors
$colors: (
	profile-white-grey: #F5F5F5,
	profile-light-grey: #E4E4E2,
	profile-grey: #CCCCCC,
	profile-dark-grey: #787876,
	profile-green: #00743F,
	profile-white: #ffffff,
	profile-black: #404040,
	profile-orange: #DB811E,
	profile-blue: #0F4B8B,
	profile-pitch-black: #000000
);
@function get-color($color) {
	@return map-get($colors, $color);
}
// get color without profile in name
@function colorme($color) {
	@return map-get( $colors, profile-#{$color});
}


// External files
@import "sass/font-awesome-4.7.0/scss/font-awesome.scss";
@import "https://use.fontawesome.com/releases/v5.0.8/css/all.css";
@import "sass/zpiritgrid.scss";
@import url("https://use.typekit.net/olb1ihi.css");

*, *:before, *:after {
  box-sizing: border-box;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit
}

a {
	color: get-color(profile-blue);
	transition: 0.2s ease-in-out;
	
	&:hover {
		color: get-color(profile-black);
	}
}

body, h1, h2, h3, h4, h5, h6, p {
	line-height: 1.4em;
}

.home {
	.site-main {
		margin-top: -100px;
	}
}


/* MISC */

.clearfix {
	display: table;
	content: '';
	clear: both;
}
.aligncenter {
	text-align: center;
}
.negative-margin-wrapper {
	margin-left: -15px;
	margin-right:  -15px;
}

/* TYPO */

.post-header-title h1 {
	margin-top: 0!important;
	text-shadow: 0px 0px 50px rgba(get-color(profile-pitch-black), 0.5)!important;
}

h2 {
	margin: 0 0 0.5em 0!important;
	font-size: 1.8em!important;
	font-weight: 400!important;
}
h3 {
	font-size: 1.5em!important;
	margin: 0.25em 0!important;
}
h3, h4 {
	font-weight: 400!important;
}
.centered-text {
	text-align: center;
}



/* BUTTONS */
.button {
	transition: ease .2s;
}


a.btn {
	padding: 10px 25px!important;
	transition: ease .2s;
	text-decoration: none!important;

	&.orange {
		background-color: get-color(profile-orange);
		color: get-color(profile-white)!important;
		
		&:hover	{
			background-color: get-color(profile-black);
		}
	}
	&.green {
		background-color: get-color(profile-green);
		color: get-color(profile-white)!important;
		
		&:hover	{
			background-color: get-color(profile-black);
		}
	}
}



/* CONTAINERS */

.post-header-overlay {
	opacity: 0.2!important;
}
.fw-container {
	&.frontal-intro {
		position: relative;
		z-index: 2!important;
		
		.bnt-container {
			padding: 0.8em 1em 0 1em!important;
			font-size: 1.3em;
			text-align: center;
			min-height: 100px;

			@media screen and (max-width: 767px) {
				padding: 0.8em 1em!important;
			}

		}
	}

	&.greytone {
		background-color: get-color(profile-white-grey);	
	}
	&.blacktone,
	.blacktone {
		background-color: rgba(get-color(profile-pitch-black),0.8); 
		color: get-color(profile-white-grey);	
	}
	&.extrapadd-bottom {
		padding-bottom: 3em;
	}
	&.extrapadd-top {
		padding-top: 3em;
	}
}


.site-content {
	padding: 60px 0;
	padding: 6rem 0;
}
.home {
	.site-content {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.site-header {
	&.no-fixed-header {
		box-shadow: 0 0 70px 0 rgba(0,0,0,.05) !important;
		position: relative;
	}
	.logo {
		img {
			width: 202px !important;
		}
	}
	&.fixed-header {
		box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.1);
		transition: ease 0.3s;
		
		.menu-item	{
			a {
				padding: 25px 0;
			}
		}

	}
	.menu-item {
		@media screen and (max-width: 48em) {
			margin: 0 0 0 1rem!important
		}
		a {
			padding: 35px 0;
		}
		&.menu-item-15560 {
			a {
				background-color: get-color(profile-orange);
				padding-left: 20px;
				padding-right: 20px;
				color: get-color(profile-white);
				
				&:before {
					font-family: 'FontAwesome';
					content: "\f086";
					margin-right: 6px;
				}

				&:hover	{
					background-color: get-color(profile-black);
				}
			}
		}

		@media screen and (min-width: 48em) {
			
			&.current-menu-item:before {
			    border-top: 5px solid get-color(profile-orange);
			    margin-top: -5px;
			    position: relative;
			    content: '';
			    display: block;
			    top: 5px;
			}
		    &.menu-item-15560:before {
				border-top: none;
			}
		}
	}
}

/* FRONTSLIDER */

#frontpageslider {
	padding-bottom: 0;
	
	&.flexslider {
		border: 0px !important; 
		border-radius: 0 !important;
		margin-bottom: 0;
		
		@media screen and (max-width: 768px) {
			margin-bottom: 0;
		}
	}
	
	.slides {
		li {
			height: 75vh;
			background-size: cover;
			background-position: center center;

			@media screen and (min-width: 768px) {
				min-height: 450px;
			}
			&.flex-active-slide:after {
				content: '';
				font-size: 300px;
				position: absolute;
				height: 100%;
				width: 100%;
				top:0;
				background-color: rgba(get-color(profile-pitch-black), 0.15);
				z-index: -1;
			}
		}
	}
	.flex-control-nav {
	    bottom: 40px;
	}
	.entry-header {
	    display: flex;
		align-items: center;
		height: 75vh;
	    min-height: 450px;
	    padding-bottom: 50px;
	
		h2 {
			font-size: 4em!important;
			color: get-color(profile-white);
			text-shadow: 0px 0px 10px rgba(get-color(profile-pitch-black), 0.2);
			width: 50%;
			line-height: 1.1em!important;
			font-weight: 600!important;
	
			@media screen and (max-width: 768px) {
				text-align: center;
				font-size: 2.3em!important;
				width: 100%;
			}
		}
		.hero-button {
		    border: none;
		    background: get-color(profile-white);
		    box-shadow: none;
		    padding: 15px 20px;
		    font-size: 16px;
			
		    &:after {
			    content: '\f061';
				font-family: 'FontAwesome';
				margin-left: 10px;
				opacity: 1;
				transition: 0.2s ease-in;
		    }
			
			&:hover {
			    background: get-color(profile-orange);
			    color: get-color(profile-white);
			    cursor: default;
			    transition: 0.2s ease-in;
			    
			    &:after {
				    content: '\f061';
					font-family: 'FontAwesome';
					margin-left: 15px;
					opacity: 1;
			    }
			}
			&:active {
			    background: get-color(profile-black);
			    transition: none;
			}
			@media screen and (max-width: 768px) {
			
				margin-top: 2em;
			
			}
		}
	}
}

/* PAGE HEADER + INTRO */

.post-header-subtitle {
	display: none;
}

.ingress-text {
	width: 100%;
	font-size: 1.4em;
	color: get-color(profile-dark-grey);
	margin-bottom: 1em;
	
	
}
.no-sidebar .ingress-text {
	width: 66%!important;

	@media screen and (max-width: 1023px) {
		width: 100%!important;	
	}
	@media screen and (min-width: 1024px) {
		width: 66%;	
	}
}


/* SERVICES-WRAPPER */

.services-wrapper {
	margin-bottom: 2em!important;
	background-color: get-color(profile-white);
	
	.services {
		box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.05);
		
		ul {
			@media screen and (min-width: 768px) {
				display: flex;
				align-content: stretch;
			}
			li {
				transition: 0.2s ease-in-out;
				&:hover {
					box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.05)
				}
			}
		}
	}
	
	.singelboks {

		img {
			max-height: 50px;
			margin-bottom: 10px;

			@media screen and (max-width: 480px) {
				max-height: 40px;
				margin-bottom: 5px;
			}

		}
		&.grid25 {
			padding: 0;
	
			a {
				display: block;
				padding: 30px!important;
				color: get-color(profile-black);	
				
				&:hover {
					text-decoration: none;
				}
				@media screen and (max-width: 480px) {
					padding: 20px 0!important;
				}
			}
			@media screen and (max-width: 767px) {
				width: 50%!important;
				float: left!important;
				margin-bottom: 0;
			}
			@media screen and (max-width: 480px) {
				width: 100%!important;
				float: none!important;
			}
		}
	}
}

/* CONTACT */

.kontaktpersoner-avdeling {
	margin-top: 2em;
	width: 100%;
	
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	
	.kontaktperson-wrapper {
		width: 100%;
		float: none;
		clear: both;
		margin-top: 15px;
		margin-bottom: 15px;
		
		@media screen and (max-width: 64em) {
			&:after {
			  content: "";
			  display: table;
			  clear: both;
			}
		}


		@media screen and (min-width: 64em) {
			width: 50%;
			float: left;
			clear: none;
		}
		
		.kontaktperson-bilde {
			width: 35%;
			float: left;
		}
		.kontaktperson-kontaktinformasjon {
			width: 60%;
			float: right;
			
			p {
				margin: 0 0 0.25em 0;
				
				&.felt_omraade {
					margin-bottom: 0.75em;
					color: get-color(profile-dark-grey);
				}
			}
	
			
		}
		i {
			width: 25px;
			font-size: 1em;
			text-align: center;
			color: get-color(profile-green);
		}
	
	}
}




/* REFERANSER */

.referanser-sub-group {
	
	&.container {
	    clear: both;
	    width: 100%;
	    
	    div {
		    width: 100%;
	    }
	    .showhide {
		    cursor: pointer;
		    top: -5px;
		    position: relative;
		    
		    &:before {
				content: '\f107';
				font-family: 'FontAwesome';
				margin-right: 10px;
			}
			&.active {
				&:before {
					content: '\f106';
				}
			}
		}
		h2 {
			display: block!important;
			border-bottom: 1px solid get-color(profile-light-grey);
			padding-bottom: 0.25em;
			padding-top: 1em;
		}
		.content {
		    display: none;
		}	
	}
	
	.type-referanser {

		padding: 15px;
		transition: ease .2s;
		
		a {
			line-height: 0;
		}

		&:hover {
			padding: 15px;
			box-shadow: 0 0 70px 0 rgba(0,0,0,.1) !important;
			margin-top: -2px;
			margin-bottom: 2px;
			position: relative;
			line-height: 0;
		}
		h3 {
			display:none;
			font-size: 1em!important;
		}
	}
}

/* LIGHTBOX */
.nivo-lightbox-close {
	padding: 15px!important;
}

.nivo-lightbox-image {
	img {
		box-shadow: 0 0 50px rgba(0,0,0,0.4)!important;
	}
}

/* BUTTONS */

#privat-btn,
#naering-btn,
.contactarea .contactbtn {
	a {
		display: block;
		text-align: center;
		
		&:hover {
			text-decoration: none;
		}
	}
}


a {
	&.btn {
		text-decoration: none;
		padding: 20px;
	}
	&.green {
		background-color: get-color(profile-green);
		color: get-color(profile-white)!important;
		
		&:hover {
			background-color: get-color(profile-black);
		}
	}
}
/* NEWS */

.news-wrapper {
	padding-bottom: 3em;
	
	img { width: 100%; }
	
	@media screen and (min-width: 48em) {
		.news-item:nth-child(1) {
			padding-right: 12px;
		}
		.news-item:nth-child(2) {
			padding-left: 6px;
			padding-right: 6px;
		}
		.news-item:nth-child(3) {
			padding-left: 12px;
		}
	}
}

/* SERVICES SUBPAGE*/


.servicebox_container {
	
	margin-top: 2em;
	
	@media screen and (min-width: 64em) {
		background-color: get-color(profile-orange);
	}
	&:after {
	    content: '';
	    display: block;
	    clear: both;
	}
	.servicebox_single {

		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: ease-in-out 0.2s;
		float: left;
		width: 33.3%;
		color: get-color(profile-white);

		@media screen and (max-width: 64em) {
			width: 50%;
		}

		@media screen and (min-width: 64em) {
			&:nth-child(3n+1){
			    clear:left
			}
		}
		
		@media screen and (max-width: 48em) {
			clear: both;
			width: 100%;
			margin: 0 0 10px 0!important;
		}
		
		a {
			color: get-color(profile-white)!important;
			text-decoration: none;
			
			&:hover {
			text-decoration: none;
				
			}
		}
		
		.servicebox_content {
			height: 200px;
			padding: 20px;
			background-color: rgba(get-color(profile-black),.7) !important;
			border-bottom: 0 solid red;
			transition: ease-in-out 0.2s;
			

			@media screen and (max-width: 64em) {
				min-height: 180px;
			}
			&:hover {
				background-color: rgba(get-color(profile-black),.9) !important;
			}
		}
			
		p {
			opacity: 0.8;
			transition: ease-in-out 0.2s;
			margin-bottom: 0;	
		}
		h3 {
			color: get-color(profile-white);
			&:before {
			    content: '';
			    border-top: 5px solid get-color(profile-white);
			    margin-bottom: 15px;
			    display: block;
			    width: 50px;
			}
		}
		&:hover {
			background-color: get-color(profile-white);
			box-shadow: 0 10px 70px 0 rgba(0,0,0,.1) !important;
			margin-top: -5px;
			margin-bottom: 5px;
		
			& p, & h2 {
				opacity: 1;
			}
		}
	}
}

/* WIDGETS */

.sidebar {
	&.widget-area {
		padding-top: 0;
	}
}

#text-3 {
	background-color: get-color(profile-white-grey);
	padding: 25px;
	
	.btn {
		float: left;
	}	 
}


/* FOOTER WIDGETS */



.site-footer {
	color: get-color(profile-white)!important;

	.widget-area {
		&.sidebar-footer {
			background-color: get-color(profile-white-grey);
			color: get-color(profile-dark-grey);
			
			@media screen and (min-width: 48em) {
				.rl-image-widget {
					img {
						max-width: 200px;
						max-height: 80px;
						width: auto;
					}
				}
			}
			@media screen and (min-width: 64em) {
				.rl-image-widget {
					img {
						max-width: 250px;
						max-height: 100px;
						width: auto;
					}
				}
			}			
			.widget-title {
				margin-bottom: 0.25em!important;
			}
		}
		#text-4 {
			border: 1px solid get-color(profile-white-grey);
			padding: 1.2em;
			text-align: center;
			p {
				margin-bottom: 0;
				font-size: 2em;
			}
		}
	}
}

.footer-copyright {
	
	a {
		margin-left: 10px;
	}
	img {
	    float: right;
	    display: inline-block;
	    width: 60px;
	    margin-top: 3px;
	    margin-left: 5px;
    }
}

/* TABLES */

.dataTables_wrapper {
	margin-bottom: 2em!important;

	table {
		border: none!important;
	}
	.tablepress {
		thead {
			th {
				background-color: get-color(profile-white-grey);
			}
		}
		.sorting {
			
			&:hover {
				background-color: get-color(profile-light-grey);
			}
		}
	}
}


/* NAV MOBILE */

#nav-mobile {
	overflow-y: hidden !important;
	background-color: get-color(profile-white-grey) !important;
	width: 300px !important;
	
	.menu-item-15560 a {
		color: get-color(profile-white-grey) !important;
	}
}