/* Login page logo */
.login #login h1 a {
	background-image: url('../../img/author/zpirit_raud_logo.svg');
	background-size: 300px auto;
	width: 100%;
	height: 100px;
	padding-bottom: 0px;
}
.login #nav a, .login #backtoblog a {
	color: #A91F23 !important;
}
.login #nav a:hover, .login #backtoblog a:hover {
	color: #A91F22 !important;
}

/* Admin area footer text */
#footer-left a {
	color: #A91F23;
	font-weight: bold;
}
#footer-left img {
	width: 65px;
	height: auto;
	vertical-align: middle;
}

/* Support dashboard widget */
#zp_support_dash_widget {
	background: #A91F23;
	color: #ffffff;
}
#zp_support_dash_widget h2,
#zp_support_dash_widget a {
	color: #fff;
	font-weight: bold;
}
#zp_support_dash_widget p.bigger {
	font-size: 1.3em;
}

/* Dashicons svg/png image */
.menu-top .wp-menu-image img {
	width: 20px;
}

/**
 * ACF PRO CUSTOM CLASSES
 */
.acf-fields input {
	max-width: 880px;
}
.fb-acf-spacer {
	height: 80px;
}
.fb-acf-spacer > div {
	display: none;
}